# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
eggs/
*.egg-info
.installed.cfg
*.egg

# Testing
.coverage
.tox

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Other
.env
